/* Group 407 */

.container{
    position: relative;
left: 17.57%;
right: 8.75%;
top: 23.3%;
bottom: 61.72%;
}



/* fluent:people-community-20-regular */
.row{

position: relaive;
left: 24.03%;
right: 71.81%;
top: 32.5%;
bottom: 66.45%;
}



/* Group */

.benefits list{
    position: relative;
left: 5%;
right: 5%;
top: 5%;
bottom: 5%;
}



/* Vector */

.smile pic{
    position: relative;
    left: 16.25%;
    right: 56.25%;
    top: 5%;
    bottom: 67.5%;

    background: #EF2A82;
}


/* Vector */

.recognition pic{
    position: relative;
    left: 5%;
    right: 66.58%;
    top: 37.5%;
    bottom: 33.58%;

    background: #EF2A82;

}

/* Vector */

.thanks pic{
    position: relative;
    left: 36.25%;
    right: 36.26%;
    top: 32.5%;
    bottom: 40.01%;

    background: #EF2A82;
}


/* Vector */

.difference pic{
    position: relative;
    left: 66.59%;
    right: 5%;
    top: 37.5%;
    bottom: 33.58%;

    background: #EF2A82;
}


/* Vector */

.impact student pic{
    position: relative;
    left: 25%;
    right: 25%;
    top: 65%;
    bottom: 5%;

    background: #EF2A82;
}


/* Vector */

.tax pic{
    position: relative;
    left: 56.25%;
    right: 16.25%;
    top: 5%;
    bottom: 67.5%;

    background: #EF2A82;
}

/* Benefits You Get */

.benefits title{
    position: relative;
left: 21.81%;
right: 19.17%;
top: 23.3%;
bottom: 76.09%;

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 138.5%;
/* or 55px */
text-align: center;
letter-spacing: 0.09em;

color: #172755;

}

/* Double Your Impact */

.smile title{
    position: relative;
left: 19.58%;
right: 56.74%;
top: 27.86%;
bottom: 71.43%;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 238.5%;
/* or 48px */
letter-spacing: 0.14em;

color: #172755;
}



/* Recognition */

.recognition title{
    position: relative;
left: 40.69%;
right: 40.42%;
top: 27.84%;
bottom: 71.44%;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 238.5%;
/* or 48px */
text-align: center;
letter-spacing: 0.14em;

color: #172755;

}


/* Become More Thankful */

.thanks title{
    position: relative;
left: 67.57%;
right: 8.75%;
top: 27.67%;
bottom: 71.62%;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 238.5%;
/* or 48px */
letter-spacing: 0.14em;

color: #172755;
}



/* lmpact Student’s Life */

.impact student title{
    position: relative;
left: 41.18%;
right: 38.4%;
top: 34.3%;
bottom: 64.99%;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 238.5%;
/* or 48px */
letter-spacing: 0.14em;

color: #172755;
}



/* Frame 242 */

/* Auto Layout 
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;

position: relative;
left: 69.86%;
right: 16.18%;
top: 34.05%;
bottom: 64.76%;*/



/* Tax Breaks */

.tax title{
    position: static;
width: 138px;
height: 48px;
left: 10px;
top: 10px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 238.5%;
/* identical to box height, or 48px */
letter-spacing: 0.14em;

color: #172755;
}


/* Inside Auto Layout 
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;*/


/* Career Saathi Program is a selective student support program for the meritorious */

.smile para{
    position: relative;
left: 17.57%;
right: 62.01%;
top: 28.87%;
bottom: 68.37%;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 135%;
/* or 28px */
text-align: center;
letter-spacing: 0.09em;

color: #8F9BBF;

}



/* Career Saathi Program is a selective student support program for the meritorious */

.recognition para{
    position: relative;
left: 42.15%;
right: 37.43%;
top: 28.87%;
bottom: 68.37%;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 135%;
/* or 28px */
text-align: center;
letter-spacing: 0.09em;

color: #8F9BBF;
}



/* Career Saathi Program is a selective student support program for the meritorious */
.thanks para{

position: relative;
left: 66.74%;
right: 12.85%;
top: 35.5%;
bottom: 61.74%;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 135%;
/* or 28px */
text-align: center;
letter-spacing: 0.09em;

color: #8F9BBF;
}



/* Career Saathi Program is a selective student support program for the meritorious */

.difference para{
    position: relative;
left: 17.57%;
right: 62.01%;
top: 35.52%;
bottom: 61.72%;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 135%;
/* or 28px */
text-align: center;
letter-spacing: 0.09em;

color: #8F9BBF;
}



/* Career Saathi Program is a selective student support program for the meritorious */

.impact student para{
    position: relative;
left: 41.18%;
right: 38.4%;
top: 35.5%;
bottom: 61.74%;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 135%;
/* or 28px */
text-align: center;
letter-spacing: 0.09em;

color: #8F9BBF;
}



/* Career Saathi Program is a selective student support program for the meritorious */

.tax para{
    position: relative;
left: 67.15%;
right: 12.43%;
top: 28.85%;
bottom: 68.39%;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 135%;
/* or 28px */
text-align: center;
letter-spacing: 0.09em;

color: #8F9BBF;
}

.benefits para{
    /* Career Saathi Program is a selective student support program for the meritorious */

position: absolute;
left: 21.74%;
right: 14.86%;
top: 24.35%;
bottom: 72.89%;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 135%;
/* or 28px */
text-align: center;
letter-spacing: 0.09em;

color: #8F9BBF;


}

.card-container{
    width:300px;
    height: 500px;
    overflow:hidden;
    box-shadow:0px 0px 15px 0px;
    transition:0.3s;
    animation:ease-in;
}
.card-container:hover{
    transform:scale(1.1);
    box-shadow:0px 0px 15px 0px;
}
.image-container img{
    overflow:hidden;
    height:200px;
}
.card-content{
    margin: 1rem;
    margin-top:0.5rem
}
h3,p{
    margin:0;
    padding:0;
}
.card-title{
    margin-bottom:0.5rem;
}
.btn{
    display:flex;
    justify-content:center;
}
.btn button{
    padding:0.5rem;
    background-color: #ffffff;
    border:none;
    transition:0.2s;
    margin-bottom:0.5rem;
    border-radius:3px;
}
.btn:hover{
    background: rgba(27,156,252,0.1);
    transform:scale(1.0)
}
a{
    text-transform: uppercase;
    color: #189cfc;
    text-decoration: none;
    font-weight: bold;
}