
position: absolute;
width: 453px;
height: 236px;
left: 25px;
top: 99px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 135%;
/* or 28px */
text-align: right;
letter-spacing: 0.09em;

color: #8F9BBF;

