h{

position: absolute;
width: 453px;
height: 236px;
left: 25px;
top: 99px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 135%;
/* or 28px */
text-align: right;
letter-spacing: 0.09em;

color: #8F9BBF;


}
h4{
    /* SELECTION CONFERENCE */

width: 386px;
height: 64px;
left: 738px;
top: 8px;
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 138.5%;
/* or 33px */
letter-spacing: 0.14em;

color: #172755;


}
p{
    /* Career Saathi Program conducts selection conference to the select the meritorious yet underprivilized students from governament schools every year after completion of their tenth standard. They conducts written test, group discussion and interviews for selection. */
position:right;
width: 453px;
height: 236px;
left: 738px;
top: 62px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 135%;
/* or 28px */
letter-spacing: 0.09em;

color: #8F9BBF;

}
h6{
    /* Career Saathi Program is a selective student support program for meritorious students who come from financially stressed backgrounds. CSP handpicks world-beating minds at young age’s, mentors & assists them with all kinds of support, tracking their growth all along until they’re successfully employed. The support to each child ranges from administering a psychometric test, aiding in admission into the course of their choice, various bridge programs for a medium switch, assistance in applications for higher studies, entrance exams, scholarships and much more, while also equipping with next-gen employability skills. */

left: 5.56%;
right: 50.49%;
top: 11.74%;
bottom: 85.83%;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 135.5%;
/* or 28px */
letter-spacing: 0.05em;

color: #8F9BBF;


}
